<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}고려대학교 멋쟁이 사자처럼{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>

<body>
    <div class="nav-bar">
        <a class="logo" href="{% url 'home' %}"><img src="" alt="logo"></a>
        <div class="main-nav-bar">
            <a class="nav-item" href="{% url 'home' %}">HOME</a>
            <a class="nav-item" href="{% url 'about' %}">ABOUT</a>
            <a class="nav-item" href="{% url 'activities' %}">ACTIVITIES</a>
            <a class="nav-item" href="{% url 'members' %}">MEMBERS</a>
            <a class="nav-item" href="{% url 'board' %}">BOARD</a>
            <a class="nav-item" href="{% url 'joinUs' %}">JOIN US</a>
        </div>
        <div class="member-nav-bar">
            {% if user.is_authenticated %}
            <div class="nav-item">
                <p>멋쟁이 {{ user.username }}님</p>
            </div>
            <div class="member-option">
                <a class="nav-item" href="{% url 'mypage' %}">마이페이지</a>
                <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
            </div>
            {% else %}
            <a class="nav-item" href="{% url 'login' %}">LOGIN</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="contact">
            <h3>CONTACT US</h3>
            <p class="president"><img src="" alt="president">조성우</p>
            <p class="address"><img src="" alt="address">서울시 성북구 안암로 145, 고려대학교</p>
            <p class="tel"><img src="" alt="tel">010-0000-0000</p>
            <p class="email"><img src="" alt="email">000@likelion.org</p>
        </div>
        <div class="sns">
            <a class="facebook" href=""><img src="" alt="facebook"></a>
            <a class="instagram" href=""><img src="" alt="instagram"></a>
        </div>
    </footer>
</body>

</html>