<!-- {% extends 'base.html' %} -->
{% block title %}{% endblock title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="../static/home.css">

{% block content %}
  <main>
   <!--   mainbox 시작 -->
    <div class="main-box">
      <div class="main-content-box">
        <div class="main-content-item one">hack your life</div>
        <div class="main-content-item two">내 아이디어를</br>내손으로</br>실현하는 곳</div>
        <div class="main-content-item three">멋쟁이 사자처럼 고려대학교</div>
      </div>
      <div class="main-img-box">
        <img class="main-img" src="http://bitly.kr/uu4yn2tL6vb" alt="사자 그림"/>
      </div>
    </div>
  
  <!--   mainbox 끝 -->
  
    <!--  vision 시작 -->
    <div class="title-box">
      <div class="title-content">OUR VISION</div>
    </div>
    <div class="vision-box">
      <div class="vision-item one">
        <div class="vision-item-img"></div>
        <div class="vision-item-content">
          온라인 강의와</br>
        오프라인 활동을 통한</br>
      체계적인 프로그래밍 교육  
          
        </div>
      </div>
      <div class="vision-item two">
        <div class="vision-item-img"></div>
        <div class="vision-item-content">
           자체 개발된 온라인 강의 플랫폼</br>
        '클래스라이언'을 통한</br>
        강의 및 과제 수행
        </div>
      </div>
      <div class="vision-item three">
        <div class="vision-item-img"></div>
        <div class="vision-item-content">
             뜻을 같이하는 동료를 찾아</br>
            자신이 만들고자 하는 서비스를</br>
            직접 프로그래밍
        </div>
      </div>
      
    </div>

    <!--  vision 끝 -->

    <!--  stats 시작 -->
    <div class="title-box">
       <div class="title-content">STATS</div>
    </div>
    <div class="stats-box">
      <div class="stats-content-box">
        <div class="stats-content-item one">지금까지,</br>멋쟁이 사자처럼 고려대학교에서</div>
        <div class="stats-content-item two">
          <div class="stats-num-content"><div class="stats-num">1,916</div>명의 학생들이</div>
          <div class="stats-num-content"><div class="stats-num">32</div>번의 해커톤을 통해</div>
          <div class="stats-num-content"><div class="stats-num">578</div>개의 아이디어를</div>
        </div>
        <div class="stats-content-item three">직접 서비스로 구현하였습니다.</div>
      </div>
      <div class="stats-img-box">
        <img class="stats-img" src="http://bitly.kr/45kdnoQbQ3m" alt="노트북하는 사람 그림"/>
      </div>
    </div>  
    <!--  stats 끝 -->


    <!--  activities 시작 -->
    <div class="title-box">
      <div class="title-content">ACTIVITIES</div>
    </div>
    <div class="activities-box">
      <div class="activities-item one">
        <div class="activities-item-img"></div>
        <div class="activities-item-content">코로나 알리미</div>
      </div>
      <div class="activities-item two">
        <div class="activities-item-img"></div>
        <div class="activities-item-content">마스크 알리미</div>
      </div>
      <div class="activities-item three">
        <div class="activities-item-img"></div>
        <div class="activities-item-content">멋사 알리미</div>
      </div>
      <div class="activities-item four">
        <div class="activities-item-img"></div>
        <div class="activities-item-content">커피소 알리미</div>
      </div>
      
    </div> 

    <!--  activities 끝 -->

    <!--  join us 시작 -->
    <div class="title-box">
      <div class="title-content">JOIN US</div>
    </div>
    <div class="joinUs-box">
      <div class="joinUs-content-box">
        <div class="joinUs-content">지금 바로,</br>멋쟁이가 되고 싶다면?</div>
        <a href="" class="joinUs-button">지원하기</a>
      </div>
      <div class="joinUs-img-box">
        <img class="joinUs-img" src="http://bitly.kr/uu4yn2tL6vb" alt="주먹 그림"/>
      </div>
      
    </div>
    <!--  join us 끝 -->
  </main>
  <script src="../static/home.js"></script>

{% endblock content %}
