{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="/App/static/members.css">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<div class="showingGisoo">
    <form>
        <select class='Gisoo'>
            {% for gisooNumber in Gisoo %}
            <option class="order" value="{{gisooNumber}}">{{gisooNumber}}</option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="memberInfo">
    <div class="basicInfo">
        {% for member in members %}
        <div class="{{member.name}}">
            {{member.name}}
            {{member.kisoo}}
            {{member.email}}
            {{member.major}}
            {{member.idNumber}}
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    option = document.querySelector(".Gisoo")

    console.log(option)
    const check = () => {
        const sub = document.querySelector(".basicInfo")
        axios.post("/memberCheck", { js_gisoo: event.target.value }).then(response => {
            let newElement = `<div class = "basicInfo">`
            var setNumber = response.data.name.length

            for (index = 0; index < setNumber; index++) {
                console.log(response.data.name[index])
                newElement += `<div class = "` + response.data.name[index] + `">` +
                    response.data.name[index] +
                    response.data.kisoo[index] +
                    response.data.email[index] +
                    response.data.major[index] +
                    response.data.IdNumber[index] +
                    `</div>`
                console.log(newElement)
            }
            newElement += `</div>`

            sub.insertAdjacentHTML("afterend", newElement)
            sub.remove()
        })
            .catch(error => console.error(error))
    }
    option.addEventListener("change", check)

</script>



{% block content %}

{% endblock content %}