<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/base.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/login.css">
    <title>고려대학교 멋쟁이 사자처럼</title>
</head>

<body>
    <div class="nav-bar">
        <a class="logo" href="{% url 'home' %}"><img src="../../static/logo.png" alt="logo"></a>
        <div class="main-nav-bar">
            <a class="nav-item" href="{% url 'home' %}">HOME</a>
            <a class="nav-item" href="{% url 'about' %}">ABOUT</a>
            <a class="nav-item" href="{% url 'activities' %}">ACTIVITIES</a>
            <a class="nav-item" href="{% url 'memberCheck' %}">MEMBERS</a>
            <a class="nav-item" href="{% url 'joinUs' %}">JOIN US</a>
        </div>
        <div class="member-nav-bar">
            {% if user.is_authenticated %}
            <div class="nav-item user-name">
                <p>멋쟁이 USER님</p>
            </div>
            {% else %}
            <a class="nav-item" href="{% url 'login' %}">LOGIN</a>
            <a class="nav-item" href="{% url 'signup' %}">회원가입</a> {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="member-option">
        <a class="nav-item" href="{% url 'mypage' %}">마이페이지</a>
        <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
    </div>
    {% endif %}
        <div class="container">
            <h1>LOG IN</h1>
            {% if error %}
            <h3 style="color: red;">{{error}}</h3>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <input id="input" type="text" name="username" placeholder="ID">
                <input id="input" type="password" name="password" placeholder="PW">
                <button id="button" type="submit"> GO </button>
            </form>
        </div>
    <script type="text/javascript" src="../../static/base.js"></script>
</body>
<footer>
    <div class="footer_item">
        <img class="logo_white" src="../../static/logo_white.png" alt="logo_white">
        <div class="contact">
            <h3>CONTACT</h3>
            <p class="contact-item"><img src="../../static/president.svg" alt="president">조성우</p>
            <p class="contact-item"><img src="../../static/address.svg" alt="address">서울시 성북구 안암로 145, 고려대학교 경영대학</p>
            <p class="contact-item"><img src="../../static/tel.svg" alt="tel">010-3146-1147</p>
            <p class="contact-item"><img src="../../static/email.svg" alt="email">nextlikelion@likelion.org</p>
        </div>
        <div class="sns">
            <a class="sns-item" href=""><img src="../../static/facebook.svg" alt="facebook"></a>
            <a class="sns-item" href=""><img src="../../static/instagram.svg" alt="instagram"></a>
        </div>
    </div>
    <div class="copyright">Copyright © 2020 NEXT x LIKELION All rights reserved</div>
</footer>
</body>

</html>
