{% extends 'base.html' %}

{% block content %}
    <h1>회원가입</h1>
    {% if error %}
    <h3 style="color: red;">{{error}}</h3>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디">
        <input type="password" name="password" placeholder="비밀번호">
        <input type="text" name="name" placeholder="이름">
        <input type="number" name="kisoo" placeholder="멋사 활동 기수를 입력해주세요">
        <input type="text" name="email" placeholder=이메일>
        <input type="text" name="major" placeholder="학과">
        <input type="text" name="idNumber" placeholder="학번">
    </form>
{% endblock content %}