* {
    font-family: "Montserrat", sans-serif;
}

.main-box {
    background: linear-gradient( to right, lightgrey, #F2F2F2);
    height: 650px;
    padding: 50px;
    margin-bottom: 20px;
}

.main-title {
    font-size: 30px;
}

.main-content-box {
    background-color: grey;
    border-radius: 50%;
    position: relative;
    width: 285px;
    height: 285px;
    cursor: pointer;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: 10;
}

.box-one {
    left: 160px;
    width: 285px;
    height: 285px;
}

.box-two {
    top: 180px;
    left: 410px;
    width: 270px;
    height: 270px;
}

.box-three {
    left: 420px;
    bottom: 80px;
}

.main-content {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    transform: scale(1);
    transition: left 0.5s ease-in-out;
}

.one>.main-content {
    position: relative;
    top: 30px;
    left: 0px;
}

.two>.main-content {
    position: relative;
    top: 10px;
    left: 40px;
}

.three>.main-content {
    position: relative;
    top: 30px;
    left: 50px;
}

.content-one {
    top: 280px;
    left: 350px;
}

.content-two {
    top: 495px;
    left: 800px;
}

.content-three {
    top: 220px;
    left: 1100px;
}

.acitivity-img {
    width: 900px;
    height: 350px;
    margin-bottom: 15px;
}

.img-one {
    background: url('../static/act1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 30px;
}

.img-two {
    background: url('../static/act2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1100px;
    left: 300px;
}

.img-three {
    background: url('../static/act3.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 30px
}

.img-content {
    position: relative;
    background-color: white;
    width: 205px;
    font-size: 14px;
    height: 200px;
    opacity: 70%;
    position: relative;
    padding: 15px;
    line-height: 1.55;
}

.ic-one,
.ic-three {
    top: 50px;
    left: 80px;
}

.ic-two {
    top: 50px;
    left: 800px;
}