body {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
}

.nav-bar .nav-item {
    margin-right: 10px;
}

.user-name {
    cursor: pointer;
}

.member-option {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 10px;
    border: 1px solid;
    text-align: center;
    height: 65px;
    width: 100px;
    transform: scale(1);
    transition: top 0.5s ease-in-out;
    z-index: -10;
}

.member-option>.nav-item {
    margin-top: 10px;
}


/* 여기서부터 메인
*/

.main-box {
    background: linear-gradient( to right, lightgrey, #F2F2F2);
    height: 650px;
    padding: 50px;
    margin-bottom: 20px;
}

.main-title {
    font-size: 30px;
}

.main-content-box {
    background-color: grey;
    border-radius: 50%;
    position: relative;
    width: 280px;
    height: 280px;
    cursor: pointer;
    z-index: 100;
}

.box-one {
    background: url('https://postfiles.pstatic.net/MjAyMDA4MDFfNzEg/MDAxNTk2MjcxMTY4Nzcw.SP19PyfUL0_dwKchh7JInkygoq4QeRtfTvFSvcgFCdYg.B_l03JERZxm4VTT-7PMNaBgZ-oFiFJrjWB7b8JO85PEg.PNG.sknglee22/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2020-08-01_%EC%98%A4%ED%9B%84_5.38.47.png?type=w773');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    top: 50px;
    left: 100px;
    width: 310px;
    height: 310px;
}

.box-two {
    background: url('https://postfiles.pstatic.net/MjAyMDA4MDFfNjIg/MDAxNTk2MjcxMTY4Nzcw.5GrxE-wlAz27jFE8uyZFklTNVnTy0yy3G3GqpWTxGGcg._fh-dkrz3UhY509VSwkKgph72pvG0Shlh4a8Az_TSjYg.PNG.sknglee22/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2020-08-01_%EC%98%A4%ED%9B%84_5.38.54.png?type=w773');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 50px;
    left: 650px;
}

.box-three {
    left: 950px;
    background: url('https://postfiles.pstatic.net/MjAyMDA4MDFfODAg/MDAxNTk2MjcxMTY4NzY5.YECn98n93AIvhgy3UvW9ST-vgXHLjt0m8fC1l_NFfw8g.vPo6qCsDhZIE1ePrWhn0Nwq9nzbNpMkzgU_HfdrvEykg.PNG.sknglee22/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2020-08-01_%EC%98%A4%ED%9B%84_5.38.59.png?type=w773');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 600px;
    width: 300px;
    height: 300px;
}

.main-content {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    transform: scale(1);
    transition: left 0.5s ease-in-out;
}

.one>.main-content {
    position: relative;
    top: 30px;
    left: 0px;
}

.two>.main-content {
    position: relative;
    top: 10px;
    left: 40px;
}

.three>.main-content {
    position: relative;
    top: 30px;
    left: 50px;
}

.content-one {
    top: 280px;
    left: 350px;
}

.content-two {
    top: 495px;
    left: 800px;
}

.content-three {
    top: 220px;
    left: 1100px;
}

.acitivity-img {
    margin-bottom: 25px;
    height: 410px;
    background-color: gold;
}

.img-one {
    background: url('https://postfiles.pstatic.net/MjAyMDA4MDFfMTU4/MDAxNTk2MjczMTQwODM5.J3H-hkbIdmoNFlA1Nvz8uxDECr5AS3VZ79QIgUUR6-cg.dqBQhWI1wXW78quZaI50Pn-bxDhDGSS_Oi82QSMqYeIg.PNG.sknglee22/act3.png?type=w773');
    background-size: cover;
}

.img-two {
    background: url('https://postfiles.pstatic.net/MjAyMDA4MDFfNjIg/MDAxNTk2MjczMTQwODc3.mEjDRjzuSuLrmbB2uiHFCx8rnyENVg7t2E9Jl3ib8_sg.Gbrl7YFyw-PTBnuRgCHe5nHY0Zu2JwccJLzy5PFhercg.PNG.sknglee22/act1.png?type=w773');
    background-size: cover;
}

.img-three {
    background: url('https://postfiles.pstatic.net/MjAyMDA4MDFfNTMg/MDAxNTk2MjczMTQwODIy.CgAxZHEache8zG2P8qsjVe8l72dCUHaTzZJ0m6Hvlqwg.XXSV2mrCBRD1ptFXQDUfG4VZPOG03jZ_dgN52CsARyAg.PNG.sknglee22/act2.png?type=w773');
    background-size: cover;
}

.img-content {
    background-color: white;
    width: 200px;
    font-size: 14.5px;
    height: 200px;
    opacity: 70%;
    position: relative;
    padding: 15px;
    line-height: 1.55;
}

.ic-one,
.ic-three {
    top: 50px;
    left: 80px;
}

.ic-two {
    top: 50px;
    left: 1100px;
}