* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#input {
  border: none;
  border-bottom: 2px solid gray;
  width: 300px;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

#button {
  background-color: black;
  border: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  color: white;
}
